body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: Roboto;
  background-color: #F8F9FA;
}

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Regular.ttf"),  url("fonts/Roboto-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
